<h2>Login</h2>

<form action="/login/family" method="POST" id="family-form-container">
  <label for="username">Username</label>
  <input type="text" name="username" placeholder="JonSnow">
  <br>
  <br>
  <label for="password">Password</label>
  <input type="password" name="password" placeholder="Your password">
  <br>
  <% if ( typeof(error) != "undefined") { %>
    <div class="alert alert-danger" role="alert">
      <%= error %>
    </div>
    <% } %>
    <br>
    <p class="account-message">
        <a href="/">back</a>
    </p>
    <button>Login as Family</button>
</form>


<form action="/login/professional" method="POST" id="professionnal-form-container">
  <label for="username">Username</label>
  <input type="text" name="username" placeholder="JonSnow">
  <br>
  <br>
  <label for="password">Password</label>
  <input type="password" name="password" placeholder="Your password">
  <br>
  <% if ( typeof(error) != "undefined") { %>
    <div class="alert alert-danger" role="alert">
      <%= error %>
    </div>
    <% } %>
    <br>
    <p class="account-message">
        <a href="/">back</a>
    </p>
    <button>Login as professional</button>
</form>