<h2>sign up as family</h2>

<form action="/signup/family" method="POST" id="form-container">
  <label for="username">Username</label>
  <input type="text" name="username" placeholder="JonSnow">
  <br>
  <br>
  <label for="password">Password</label>
  <input type="password" name="password" placeholder="Your password">
  <br>
  <% if ( typeof(error) != "undefined") { %>
    <div class="alert alert-danger" role="alert">
      <%= error %>
    </div>
    <% } %>
    <br>
    <p class="account-message">
        <a href="/">back</a>
    </p>
    <button>Entra melon!!</button>
</form>