<div class="search-container">
    <div class="inside-search-container">
      Look for professionals in your area
    </div>
    <form action="/search> " method="POST">
      <div class ="form-group">
        <label for="city"></label>
        <input id="search-field" type="city" class="form-control"  name="city" placeholder="Type your city">
        <button class="btn btn-info" id="search-button" >Search</button>
      </div>
</div>


<div class="professionals-cards">
  <div id="recommended">
    <span>Recommended professionals</span>
  </div>
  <div class= "card-columns">
  <% professionals.forEach((professional) => { %>
    <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title"><%= professional.name %><%= professional.lastName %></h4>
        
          <a href="#" class="btn btn-primary" id="seeprofile-button">See full profile</a>
        </div>
      </div>
  <%  }) %>
  </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center" id="exampleModalLabel">Signup as family</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body"> 
              <form action="/signup/family" method="POST" id="form-container">
                <div class="form-group">
                  <label for="username">Username</label>
                  <input type="text" class="form-control"  name="username" placeholder="username">
                </div> 
                <div class="form-group">
                  <label for="username">Password</label>
                  <input type="password" class="form-control"  name="password" placeholder="Your password">
                </div>    
                <% if ( typeof(error) != "undefined") {%>
                  <div  id="login-error" class="alert alert-danger" role="alert">
                    <%= error %>
                  </div>
                <% } %>
                <div class="text-center">
                  <button class="col-md-12 btn btn-info btn-round">Sign up</button>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default btn-link" data-dismiss="modal">cancel</button>
            </div>
        </div>
    </div>
</div>
<%- contentFor('scripts') %>

<script>
  $( document ).ready( function() {
    if ( $( "#login-error" ).length ) {
        console.log("entra");
      $('#myModal').modal('toggle');
    }
  });
</script>