body {
  font: "Lucida Grande", Helvetica, Arial, sans-serif;
}
.nav-tabs-navigation{
  display: flex;
  justify-content: space-between;
  align-items: center;
 }

 .logo-nav-bar {
     margin-left:20px;
 }